
h1, h2, h3, h4, h5, h6, a {
    font-family: "Segoe UI", sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
}

.aa-blog-img > a > img {
    width: 100%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col-md-12, .col-sm-6, .col-md-3, .col-sm-4 {
    padding-right: 0;
    padding-left: 0;
}

#menu .navbar-default {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
}

#menu .navbar-nav li a {
    color: #fff;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    padding: 12px 40px;
}

#menu .navbar-toggle {
    border: none;
    padding: 12px 10px;
    margin: 0;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 4px;
}

.navbar {
    min-height: 44px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

/*.navbar ul {*/
/*float: right;*/
/*}*/

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

#links .nav > li > a {
    background-color: transparent;
    color: #808080;
    font-size: 10px;
    line-height: 24px;
    padding: 0 0 0 20px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    .bottom-navbar-nav > li {
        float: right;
    }

    .aa-footer-bottom-area p {
        float: left;
        margin-bottom: 0;
    }

    .aa-blog-content {
        margin-left: -8px;
        margin-right: -8px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 880px;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 880px;
    }

}

@media (max-width: 768px) {
    #top-logo, .pagination {
        margin-left: 8px;
    }

    .bottom-navbar-nav > li {
        text-align: center;
    }

    .aa-footer-bottom-area p {
        text-align: center;
        margin-bottom: 16px;
    }
}

#top-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*content*/
.red {
    background-color: red;
    height: 800px;
}

.blue {
    background-color: #b3e8c6;
}

.text {
    line-height: 15px;
}

#aa-footer {
    background-color: #424242;
    display: inline;
    float: left;
    width: 100%;
}

@media (max-width: 768px) {
    #aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget {
        margin-bottom: 30px;
        text-align: center;
    }

}

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a {
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a:hover {
    color: #fff;
}

#aa-footer .aa-footer-bottom {
    display: inline;
    float: left;
    padding: 0 0 36px 0;
    width: 100%;
}

#aa-footer .aa-footer-bottom .container {
    border-top: 1px solid #808080;
}

/*#aa-footer .aa-footer-top .aa-footer-top-area {*/
/*display: inline;*/
/*float: left;*/
/*width: 100%;*/
/*}*/

#aa-footer .aa-footer-top {
    display: inline;
    float: left;
    padding: 30px 0;
    width: 100%;
    min-height: 100px;
}

.primary-link {
    color: #fff;

}

.secondary-link {
    color: #808080;
}

.aa-footer-bottom-area p {
    font-size: 10px;
    color: #808080;
    line-height: 24px;
}

.aa-footer-bottom-area p span {
    color: #fff;
}

.item {
    padding: 8px;
    color: #424242;
    font-family: "Segoe UI Semibold", sans-serif;
}

.item p {
    color: #000;
    margin: 10px 0 6px 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0;
}

.pagination > li > a, .pagination > li > span {
    border: none;
    background-color: #848484;
    color: #fff;
    padding: 14px 20px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #424242;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #a5a5a5;
    color: #fff;
}

.pagination > li > a {
    margin-right: 8px;
    font-size: 16px;
}

.pagination {
    margin-top: 8px;
    margin-bottom: 28px;
}

.aa-blog-content > p {
    font-size: 16px;
    font-family: "Segoe UI Semibold", sans-serif;
    margin-left: 8px;
    margin-top: 30px;
    margin-bottom: 8px;
}

.aa-sidebar-widget > p {
    font-size: 16px;
    font-family: "Segoe UI Semibold", sans-serif;
    margin-top: 30px;
    margin-bottom: 8px;
}

.aa-blog-content > p > span {
    color: #646464;
}

#side-menu {
    float: left;
    padding-left: 16px;
    width: 15%;
    margin-bottom: 24px;
}

li > .sidebar-sub-menu {
    margin-left: 8px;
}

.sidebar-sub-menu a {
    color: #424242;
}

.sidebar-sub-menu .sidebar-sub-menu {
    margin-bottom: 16px;
}
.sidebar-sub-menu .active-menu > a {
    font-family: "Segoe UI Semibold", sans-serif;
    text-decoration: none;
    color: #000;
}

.filter {
    color: #424242;
}

.sidebar-sub-menu .filter {
    font-family: "Segoe UI Semibold", sans-serif;
}

/*@media (min-width:1200px) {*/
    /*#side-menu {*/
    /*}*/
/*}*/

@media (max-width:1300px) {
    #side-menu {
        display: none;
    }
}


#aa-info {
    background-color: #f7f7f7;
}

.aa-info-area {
    border: 1px solid #f1f1f1;
    margin: 36px 0;
    background-color: #fff;
}

.aa-text-info-area {
    padding: 15px 60px;
}

.aa-info-area h3 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.aa-info-area h4 {
    margin-top: 14px;
}

.aa-info-area h4, .aa-info-area h3 {
    color: #000;
}

.aa-info-area {
    color:#424242;
    font-family: "Segoe UI", sans-serif;

}

.aa-info-area p {
    margin-bottom: 14px;
}
.info-links li > a {
    color: #636363;
    font-style: italic;
}

.info-list {
    list-style: disc;
    margin-left: 18px;
}

.info-list li {
    margin-bottom: 8px;
}

.aa-info-area .contact-info {
    border-top: 1px solid #f1f1f1;
    /*padding-top: 36px;*/
}

.contact-info-item {
    padding: 36px 36px 36px 60px;
    /*float: left;*/
    display: inline-block;
}

.contact-info-item img, .contact-info-item div {
    display: inline-block;
    vertical-align: top;
}

.contact-info-item img {
    margin-top: 14px;
    margin-right: 36px;
}

